@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
//font
$primary-font:"sans-serif !important";
$secondary-font: "Fuzzy Bubbles","Trebuchet MS", Helvetica, sans-serif, Times;


//color
$bleu:#005566;
$gray: rgba(189, 187, 187, 0.564);
$gray-1: rgba(196, 191, 191, 0.334);
$white: #ffffff;
$yellow:rgb(250,224,66);

//background-color